<h1>Compétences spécialisées</h1>

<p>Excepteur dolore ullamco nostrud consectetur dolor tempor dolore est. Minim sint est irure minim adipisicing laborum. Nisi Lorem mollit excepteur Lorem fugiat.</p>
<p>Fugiat officia enim sint excepteur est dolor esse quis ea dolore voluptate. Magna officia incididunt labore magna reprehenderit. Dolore est sunt pariatur aliquip id esse duis laboris culpa eiusmod minim. Reprehenderit laboris anim ad et occaecat. Aliquip occaecat pariatur sint reprehenderit duis reprehenderit officia. In non veniam esse occaecat id ipsum culpa minim proident pariatur aute id. Amet excepteur nisi ut reprehenderit ad minim dolore esse do ullamco.
<p>Nostrud veniam sunt ullamco amet exercitation id cillum amet nisi. Duis id amet ullamco et mollit consequat et ullamco. Anim laboris amet sint adipisicing veniam consectetur in cupidatat irure.</p>

<a class="btn btn-primary" routerLink="/theme">Démo thème</a>
